<!DOCTYPE HTML>
<html>
    <head>
        <metacharset="utf-8">
        <title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li><a clas="navbar-brand" href="{% url 'index' %}">BRAND</a></li>
                    <li><a clas="navbar-link" href="{% url 'admin:index' %}">Admin</a></li>
                    <li><a clas="navbar-link" href="{% url 'basic_app:register' %}">register</a></li>

                    {% if user.is_authenticated %}
                        <li><a class='navbar-link' href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li><a class='navbar-link' href="{% url 'basic_app:user_login' %}">Login</a></li>
                    {% endif %}

                </ul>
            </div>
        </nav>
        <div clas="container"> 
            {% block body_block %}
            {% comment %} anything outside this will be inherited if you extend {% endcomment %}
            {% endblock %}
        </div>
    </body>
</html>